<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> <!-- Per caràcters llatins -->
  <!-- FONTAWESOME : Dona les icones del web (botiga, home, contacte, instagram... -->
  <script src="https://kit.fontawesome.com/c0d79b4f22.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/main.css">
  <title>DylanRiba</title>
</head>

<body>
 <div class="fulla">
    <header class="capçalera">
      <div>
        <navbar>
            <ul>
                <li><a href="">Inici</a></li>
                <li><a href="">Música</a></li>
                <li><a href="">Videos</a></li>
                <li><a href="">Botiga</a></li>
                <li><a href="">Concerts</a></li>
            </ul>
        </navbar>
      </div>
      <div>
        <navbar>
            <ul>
                <li><a href=""><i class="fab fa-youtube fa-1x"></i></a></li>
                <li><a href=""><i class="fab fa-bandcamp fa-1x"></i></a></li>
                <li><a href=""><i class="fab fa-instagram fa-1x"></i></a></li>
                <li><a href=""><i class="fab fa-spotify fa-1x"></i></a></li>
                <li><a href=""><i class="fab fa-deezer fa-1x"></i></a></li>
            </ul>
        </navbar>
      </div>
    </header>
    
    <main>
           
    </main>

    <footer>
       <span></span>
    </footer>
 </div>

</body>
</html>