html {
    scroll-behavior: smooth; /* Lentitud en mourem entre enllaços locals. */
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    /*background-color: black;*/
    background-color: #333;
    background: url("../img/gradient2.jpg") no-repeat fixed center center #111;
}

.wrapper {
    background: url("../img/concert2.jpg") no-repeat fixed center center #111;
    background-size:cover;
}

.header {
    display: grid;
    grid-template-columns: 65% 35%;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    border-bottom:rgb(255, 255, 255) solid 1px;
}

.header > div {
    /*background: white;*/
    padding: 5px;
    text-align: right;
    color: rgb(253, 252, 167);
}

.header > div:nth-child(odd) {
    /*background: white;*/
    padding: 5px;
    text-align: left;
    color: rgb(253, 252, 167);
}

navbar {
    margin: 0px;
    padding: 5px;
}

navbar ul {
    margin: 0px;
}

navbar ul li {
    margin-right: 30px;
    list-style: none;
    display: inline-block;
}

navbar ul li a {
    text-decoration: none;
    color:rgb(253, 252, 167);
}

navbar ul li a:hover {
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition-duration: 2ms;
}

#nomGrup {
    color: rgb(255, 247, 0);
    font-family: 'Spicy Rice', cursive;
    font-size: 64px;
    margin-left: 0.6em;
}

#canconsPortatils {
    font-family: 'Chango', cursive;
    color: whitesmoke;
    font-size: 74px;
    text-shadow: 1px 1px 15px black;
}

#maquetaJaDisponible {
    color: whitesmoke;
    font-size: 34px;
    font-family: 'Oxanium', cursive;
    font-weight: bolder;
    text-shadow: 2px 2px 15px white;
}

.buto {
    background-color: black;
    color: rgb(253, 252, 167);
    border: black 2px solid;
    padding: 10px;
    font-size: 24px;
    transition-duration: 0.2s;
 /* border-radius: 5px; */
    height: 2.2em;
}

.buto:hover {
    background-color: transparent;
    color: white;
}

.inici {
    min-height: 1100px;
    font-family: 'Special Elite', cursive;
    color: rgb(253, 252, 167);
}

.inici ul {
    padding-top: 3em;
    text-align: center;
    font-size: 44px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style: none;
}

navbar ul li a {
    text-decoration: none;
    color:rgb(253, 252, 167);
}

.musica {
    min-height: 900px;
    font-family: 'Special Elite', cursive;   
}

div.musica {
    padding-top: 3em;
    font-size: 64px;
    color:rgb(255, 255, 255);
    text-align: center;
}

.videos {
    min-height: 900px;
    font-family: 'Special Elite', cursive;   
}

div.videos {
    padding-top: 3em;
    font-size: 64px;
    color:rgb(255, 255, 255);
    text-align: center;
}

.concerts {
    min-height: 900px;
    font-family: 'Special Elite', cursive;   
}

div.concerts {
    padding-top: 3em;
    font-size: 64px;
    color:rgb(255, 255, 255);
    text-align: center;
}

.footer {
    padding: 25px;
    background-color: #111;
    min-height: 40px;
    font-family: 'Spicy Rice', cursive;   
    font-size: 46px;
    color: rgb(253, 252, 167);
    text-align: center;
}

/* Page content */
.content {
    padding: 16px;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222;
}
  
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}