html {
    scroll-behavior: smooth; /* Lentitud en mourem entre enllaços locals. */
}

body {
    margin: 0px;
    padding: 0px;
    /*background-color: black;*/
    background-color: #333;
}

.wrapper {
    background-image: url("../img/concert2.jpg");
    background-size:cover;
    min-height: 1200px;
    background-repeat: no-repeat;
}

.header {
    display: grid;
    grid-template-columns: 65% 35%;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
}

.header > div {
    /*background: white;*/
    padding: 5px;
    text-align: right;
    color: rgb(253, 252, 167);
  }
  
 .header > div:nth-child(odd) {
    /*background: white;*/
    padding: 5px;
    text-align: left;
    color: rgb(253, 252, 167);
  }

navbar {
    margin: 0px;
    padding: 5px;
  }

navbar ul {
    margin: 0px;
}

navbar ul li {
    margin-right: 30px;
    list-style: none;
    display: inline-block;
}

navbar ul li a {
    text-decoration: none;
    color:rgb(253, 252, 167);
}

navbar ul li a:hover {
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition-duration: 2ms;
}

.inici {
    min-height: 900px;
    font-family: 'Special Elite', cursive;
    color: rgb(253, 252, 167);
}

.musica {
    min-height: 900px;
    background-image: url("../img/local2.jpg");
    background-size:cover;
    font-family: 'Special Elite', cursive;   
}

.videos {
    min-height: 900px;
    background-image: url("../img/cassete.jpg");
    background-size:cover;
    font-family: 'Special Elite', cursive;   
}

.concerts {
    min-height: 900px;
    background-image: url("../img/concert4.jpg");
    background-size:cover;
    font-family: 'Special Elite', cursive;   
}

.footer {
    padding: 25px;
    background-color: #111;
    min-height: 40px;
    font-family: 'Special Elite', cursive;   
    font-size: 46px;
    color: rgb(253, 252, 167);
    text-align: center;
}